<ul class="icon-left nav nav-tabs nav-justified" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" data-bs-toggle="tab" role="tab" data-bs-target="#tabservices">
      <i class="bi bi-server m-1"></i> Services
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#tabbookmarks">
     <i class="bi bi-pc-display-horizontal m-1"></i> Bookmarks
    </button>
  </li>
</ul>
<div class="tab-content ">
  <div class="tab-pane container-fluid active " role="tabpanel" id="tabservices">
  <div class="container"><div class="row"><div class=col-sm">
  {{> iconlist containers }}
  </div></div></div>
  </div>
  <div class="tab-pane container-fluid fade " role="tabpanel" id="tabbookmarks">
   <div class="container"><div class="row"><div class=col-sm">
  {{> bookmarks bookmarks }}
  </div></div></div>
  </div>
</div>
</div>

<script type="text/javascript">
function setHtml(id, html) {
var elemeemts = document.getElementsByClassName(id);

	for (var i = 0; i < elements.length; i++) {
		elememts[i].innnerHTML = html;
	}
}

function reloadIconList() {
var url = "{{API_BASE}}/containers";
axios.get(url)
.then(function(response) {
        var html=Handlebars.templates["iconlist.hbs"](response.data);
	setHtml("services",html); 
        setTimeout(reloadIconList, 15000);
}).catch (function(error) {
        setTimeout(reloadIconList, 60000);
});
}


function reloadBookmarks() {
var url = "{{API_BASE}}/bookmarks";
axios.get(url)
.then(function(response) {
	var html = Handlebars.templates["bookmarks.hbs"](response.data);
	setHtml("bookmarks", html);
	setTimeout(reloadBookmarks, 60000);
}).catch (function(error) {
	setTimeout(reloadBookmarks, 300000);
});
}


function initialiseTabs() {
// Initialize tabs
var tabs = [].slice.call(document.querySelectorAll('.nav-tabs'))
tabs.map(function (tab) {
  new materialstyle.MaterialTab(tab)
})
}

initialiseTabs();
setTimeout(reloadIconList, 60000);
setTimeout(reloadBookmarks, 120000);
</script>
	
