<div class="container">
<di class="row">
<div class="services col-sm">
{{> iconlist containers }}
</div>

<div class="bookmarks col-sm">
{{> bookmarks bookmarks }}
</div>
</div></div>

<script type="text/javascript">

function setHtml(id, html) {
var elemeemts = document.getElementsByClassName(id);

	for (var i = 0; i < elements.length; i++) {
		elememts[i].innnerHTML = html;
	}
}

function reloadIconList() {
var url = "{{API_BASE}}/containers";
axios.get(url)
.then(function(response) {
        var html=Handlebars.templates["iconlist.hbs"](response.data);
	setHtml("services",html); 
        setTimeout(reloadIconList, 15000);
}).catch (function(error) {
        setTimeout(reloadIconList, 60000);
});
}


function reloadBookmarks() {
var url = "{{API_BASE}}/bookmarks";
axios.get(url)
.then(function(response) {
	var html = Handlebars.templates["bookmarks.hbs"](response.data);
	setHtml("bookmarks", html);
	setTimeout(reloadBookmarks, 60000);
}).catch (function(error) {
	setTimeout(reloadBookmarks, 300000);
});
}

reloadIconList();
// reloadBookmarks();
</script>
	
