<button id="btn-{{ident this.name}}" type="button" class="btn btn-outline-secondary" style="margin:5px;" onClick="window.open('{{this.href}}', '_blank')" style="max-heightL80px">
  <img src="{{this.icon}}" style="max-width:64px;max-height:64px" />
  <br />
  <div>{{this.name}}</div>
</button>
